<div class="modal-header">
    Here are some tips and sources for footage to use:
</div>
<div class="modal-body">
    <p><strong>Footage:</strong></p>
    <ul>
        <li>ESL: <a href="https://www.youtube.com/user/esltv">https://www.youtube.com/user/esltv</a></li>
        <li>GSL: <a href="https://www.youtube.com/user/exp">https://www.youtube.com/user/exp</a></li>
        <li>EsportsTV (Proleague, Starleague): <a href="https://www.youtube.com/user/ESportsTV">https://www.youtube.com/user/ESportsTV</a></li>
        <li>Red Bull: <a href="https://www.youtube.com/user/RedBulleSport">https://www.youtube.com/user/RedBulleSport</a></li>
        <li>Dreamhack: <a href="https://www.youtube.com/user/DreamhackMedia">https://www.youtube.com/user/DreamhackMedia</a></li>
    </ul>
    <p><strong>Music:</strong></p>
    <ul>
        <li>Youtube audio library: <a href="https://www.youtube.com/audiolibrary/music">https://www.youtube.com/audiolibrary/music</a> (Everything that you can use on YouTube)</li>
        <li><a href="https://www.youtube.com/user/NoCopyrightSounds">https://www.youtube.com/user/NoCopyrightSounds</a></li>
        <li><a href="https://www.youtube.com/user/HEROboard/videos">https://www.youtube.com/user/HEROboard/videos</a></li>
        <li><a href="http://incompetech.com/">http://incompetech.com/</a></li>
    </ul>
    <p><strong>Editing software:</strong>
        <p>Personal preference mostly. The 2 most used are:</p>
        <ul>
            <li>Adobe Premiere</li>
            <li>Sony Vegas</li>
        </ul>
        <p>If you want advanced effects you probably want to use Adobe After effects.</p>
        <p>Please note that we are not liable for any copyright issues.</p>
</div>
<div class="modal-footer">
    <button class="btn btn-default" ng-click="cancel()">Close</button>
</div>
