<div class="title col-xs-12">About Us</div>
<div class="col-xs-12">
	<p>Multiple people work on the site/channel to keep content coming as you can see below. You can help us keep up with all the best moments by suggesting highlights by clicking 'Suggest Highlight' on the left.</p>
	<table class="table">
		<thead>
		<tr>
			<td colspan="2"><b>Founders</b></td>
		</tr>
		</thead>
		<tr>
			<td>Daniel "DTD"</td>
			<td></td>
		</tr>
		<tr>
			<td>Simon "Toasts"</td>
			<td></td>
		</tr>
		<tr>
			<td colspan="2"><b>Editors</b></td>
		</tr>
		<tr>
			<td>Andi "Iremixed"</td>
			<td>
				<a ng-href="https://twitter.com/IAmRemixed"><img ng-src="/images/social/twitter.png" width="25px"></a>
			</td>
		</tr>
		<tr>
			<td>Joe "nice__username"</td>
			<td>
				<a ng-href="https://twitter.com/nice__username"><img ng-src="/images/social/twitter.png" width="25px"></a>
				<a ng-href="https://www.youtube.com/user/niceytchannel"><img ng-src="/images/social/youtube.png" width="25px"></a>
				<a ng-href="http://www.twitch.tv/nice__username"><img ng-src="/images/social/twitch.png" width="25px"></a>
			</td>
		</tr>
		<tr>
			<td>Kevin "Aggression"</td>
			<td>
				<a ng-href="https://twitter.com/AggressionSC2"><img ng-src="/images/social/twitter.png" width="25px"></a>
				<a ng-href="http://www.twitch.tv/aggression1"><img ng-src="/images/social/twitch.png" width="25px"></a>
			</td>
		</tr>
		<tr>
			<td>Philipp "Samsungjackets"</td>
			<td>
				<a ng-href="https://twitter.com/SamsungJackets"><img ng-src="/images/social/twitter.png" width="25px"></a>
			</td>
		</tr>
		<tr>	
			<td>Sybert "Sybert"</td>
			<td>
				<a ng-href="https://twitter.com/OneSybert"><img ng-src="/images/social/twitter.png" width="25px"></a>
				<a ng-href="https://www.youtube.com/user/CNCSybert"><img ng-src="/images/social/youtube.png" width="25px"></a>
				<a ng-href="http://www.twitch.tv/sybert"><img ng-src="/images/social/twitch.png" width="25px"></a>
			</td>
		</tr>
	</ul>
</div>