<div class="title col-xs-12">Chairs4Gaming</div>
<div class="col-md-6">
<p><strong>Chairs4Gaming</strong> is one of the biggest retailers of gaming chairs in North America and also an official DXRacer retailer. They offer some of the best gaming and office chairs with free shipping and a lifetime warranty on the frame!</p>

<p><a href="https://chairs4gaming.com"><img style="margin-top: 30px; margin-bottom: 30px;" src="images/chairs4gaming-logo-big.png" class="img-responsive center-block"></a></p>

<p>Not sure which chair to chose? Chairs4Gaming have a guide which will point out all the differences between each DXRacer series and model. This way, it will be easier to identify the ones that meet your requirements and chose the best gaming chair for you. <a href="https://chairs4gaming.com/pages/best-dxracer">chairs4gaming.com</a></p>

<div class="panel panel-default">
  <div class="panel-body">
    <p class="text-center lead">Get 20$ off by using the discount code <strong>SC2HL</strong></p>
  </div>
</div>

</div>

<div class="col-md-6">
<p><img src="images/chairs4gaming-chair.png" class="img-responsive center-block"></p>
</div>