<div class="title col-xs-12">Chairs4Gaming</div>
<div class="col-md-6">
<p><strong>Chairs4Gaming</strong> is one of the biggest retailers of gaming chairs in North America and also an official DXRacer retailer. They offer free shipping and a lifetime warranty on the frame!</p>

<p><a href="https://chairs4gaming.com"><img src="images/chairs4gaming-logo-big.png" class="img-responsive center-block"></a></p>

<div class="panel panel-default">
  <div class="panel-body">
    <p>There are over one-hundred different chairs in stock, get help choosing one here: <a href="https://chairs4gaming.com/pages/best-dxracer">chairs4gaming.com</a></p>
  </div>
</div>

</div>

<div class="col-md-6">
<p><img src="images/chairs4gaming-chair.png" class="img-responsive center-block"></p>
</div>