<div class="title col-xs-12">Division Zero</div>
<div class="col-md-6">
    <p><strong>Division Zero</strong> is the newest gaming line created by <strong>Das Keyboard</strong>, a long standing company known for its quality.</p>
    <p>
        <a href="http://www.divisionzerogaming.com/?utm_source=Website&utm_medium=link&utm_campaign=SC2HL"><img src="images/division-zero-logo-big.png" class="img-responsive center-block"></a>
    </p>
    <p>All of the Division Zero gaming equipment has been designed for gamers to outperform. It is built with premium materials, superior gaming mechanical switches, no-compromise design and exceptional comfort. All set for the best gaming experience.</p>
    <div class="panel panel-default">
        <div class="panel-body">
            <p>We are very excited to have Division Zero as a sponsor. Check them out at <a href="http://www.divisionzerogaming.com/?utm_source=Website&utm_medium=link&utm_campaign=SC2HL">divisionzerogaming.com</a></p>
        </div>
    </div>
</div>
<div class="col-md-6">
    <p><img src="images/division-zero-keyboard.png" class="img-responsive center-block"></p>
</div>
