<div class="title col-xs-12">Division Zero</div>
<div class="col-md-6">
<p><strong>Division Zero</strong> is the newest gaming line created by <strong>Das Keyboard</strong>, a long standing company known for its quality.</p>

<p><a href="http://divisionzerogaming.com"><img src="images/division-zero-logo-big.png" class="img-responsive center-block"></a></p>

<p>All of the Division Zero gaming equipment is built with premium materials, no-compromise design and exceptional comfort, all for the best gaming experience possible.</p>

<p>We are very excited to have Division Zero as a sponsor. Check them out at <a href="http://divisionzergaming.com">divisionzerogaming.com</a></p>
</div>

<div class="col-md-6">
<p><img src="images/division-zero-keyboard.png" class="img-responsive center-block"></p>
</div>