<!doctype html>
<html ng-app="sc2hl"><!-- ng-controller="loginCtrl"> -->
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title ng-bind="metaTitle"></title>
		<meta name="description" content="{{ metaDescription }}">
		<meta name="viewport" content="width=device-width">
		<meta property="og:image" content="http://sc2hl.com/images/logo_thumbnail.png" />
		<link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css" />
		<link rel="stylesheet" href="/bower_components/bootstrap-social/bootstrap-social.css" />
		<link rel="stylesheet" href="/bower_components/font-awesome/css/font-awesome.min.css" />
		<link rel="stylesheet" href="/bower_components/angular-loading-bar/src/loading-bar.css" />
		<link rel="stylesheet" href="/styles/main.css">
		<link rel="icon" href="/images/favicon.ico" type="image/x-icon" />
		<base href="/" />
	</head>
	<body ng-cloak class="ng-cloak">
		<div id="wrapper">
			<div id="top-bar">
				<button type="button" class="btn btn-default btn-lg side-bar-button">
					<span class="glyphicon glyphicon-align-justify"></span>
				</button>
				<div class="logo pull-right">
					<img src="/images/small_logo.png">
				</div>
			</div>
			<div id="side-bar">
				<div class="logo dissapear">
					<a ng-href="/">
						<img ng-src="/images/logo2.png">
					</a>
				</div>
				<ul class="navigation list-group" ng-controller="userMenu">
					<a ng-href="/" class="list-group-item nav-button">Home</a>
					<a ng-href="/highlight" class="list-group-item nav-button">Highlights</a>
					<a ng-href="/submitreplay" class="list-group-item nav-button">Submit replay</a>
                    <a ng-click="openSuggestForm()" class="list-group-item nav-button">Suggest Highlight</a>
				</ul>
				<a href="http://bit.ly/JORDwatches"><img class="img-responsive center-block" src="/images/jord-woodwatches.png" alt="JORD woodwatches"></a>
			</div>
			<div id="side-bar-remainder">
			</div>
			<div id="contentWrapper">
				<div id="content">
					<div id="page" style="max-width:{{ pageWidth }}px;">
						<div ng-view=""></div>
					</div>
				</div> 
				<div id="footer" ng-controller="footerMenu">
                    <p>
                        <a ng-href="https://www.facebook.com/SC2HL" target="_blank"><img src="/images/social/facebook.png" width="35px"></a>
                        <a ng-href="https://twitter.com/SC2HL" target="_blank"><img src="/images/social/twitter.png" width="35px"></a>
                        <a ng-href="https://www.youtube.com/user/DTDstarcraft" target="_blank"><img src="/images/social/youtube.png" width="35px"></a>
                    </p>
                    <a ng-click="openContactForm()">Contact Us</a> | <a ng-href="/aboutus">About Us</a>
                    <p class="nomargin">Copyright © 2014 - SC2HL.com</p>
				</div>
			</div>
		</div>

		<script src="/bower_components/jquery/dist/jquery.min.js"></script>
		<script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
		<script src="/bower_components/angular/angular.min.js"></script>
		<script src="/bower_components/angular-route/angular-route.min.js"></script>
		<script src="/bower_components/angular-resource/angular-resource.min.js"></script>
		<script src="/bower_components/angular-animate/angular-animate.min.js"></script>
		<script src="/bower_components/angular-sanitize/angular-sanitize.min.js"></script>
		<script src="/bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
		<script src="/bower_components/moment/min/moment.min.js"></script>
		<script src="/bower_components/angular-moment/angular-moment.min.js"></script>
		<script src="/bower_components/angular-loading-bar/src/loading-bar.js"></script>
		<script src="/bower_components/angular-loading-bar/src/loading-bar.js"></script>
		<script src="/bower_components/ng-file-upload/ng-file-upload-shim.min.js"></script> 
		<script src="/bower_components/ng-file-upload/ng-file-upload.min.js"></script> 
        	<script src="/js/analyticsService.js"></script>

		<script src="/js/app.js?v3"></script>
		<script src="/js/main.js?v3"></script>
		<script src="/js/controllers/homepageController.js?v3"></script>
		<script src="/js/controllers/highlightController.js?v3"></script>
		<script src="/js/controllers/searchController.js?v3"></script>
        	<script src="/js/controllers/modalController.js?v3"></script>
        	<script src="/js/controllers/replayController.js?v3"></script>
	</body>
</html>
